
body
{
     background: #1A1A1E;
}

#registerarea 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px;
}

#register
{
    width: 100%; 
    max-width: 450px;
    box-sizing: border-box;
    background-color: #2C2C30;
    padding: 40px;
    border-radius: 10px;
    font-size: 18px;
    color: #CCCCCC
}

#register h3 
{
    font-size: 24px;
    margin-bottom: 20px;
}

#registerarea input[type="text"],
#registerarea input[type="password"] {
    background-color: white;
    padding: 12px 15px;
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
    border: none; 
    border-radius: 5px; 
    margin-top: 5px; 
}


#registerarea input[type="submit"] {
    padding: 12px 20px;
    font-size: 18px; 
    font-weight: 600; 
    width: 100%;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px; 
    transition: background-color 0.3s;
}


#registerarea input[type="submit"]:hover {
    background-color: #218838; 
}

#Login
{
    display: block;
    margin: 15px auto;
    width:100%;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 18px; 
    font-weight: 600; 
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#Login:hover {
    background-color: #218838; 
}

fieldset {
    padding: 0;
    margin: 0;
}

hr
{
    color: #CCCCCC;
    width: 90%;
}

@media screen and (max-width: 1600px)
{
    body { zoom: 0.8;}
}

@media screen and (min-width: 1601px) {
    #register {
        max-width: 550px; 
        padding: 50px; 
        font-size: 20px; 
    }

    #register h3 {
        font-size: 28px; 
        margin-bottom: 30px;
    }

    #registerarea input[type="text"],
    #registerarea input[type="password"],
    #registerarea input[type="submit"] {
        padding: 15px 20px;
        font-size: 18px; 
    }
}